@model WebApplication1.ViewModels.DepartmanDetayViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detay</title>
</head>
<body>
    <h3>Departman Detay Sayfası</h3>
    <h4>ID: @Model.Departman.Id - @Model.Departman.Ad</h4>
    <ul>
        @foreach (var personel in Model.Personeller)
        {
            <li>@personel.Ad</li>
        }
        
    </ul>
</body>
</html>
