@model WebApplication1.Models.Departman
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Merhaba</title>
</head>
<body>
    <div> 
        <h1>Merhaba View</h1>
        <h2>@DateTime.Now</h2>

        <h1>Departman Id: @Model.Id</h1>
        <h2>Departman Ad: @Model.Ad</h2>
    </div>
</body>
</html>
